USER_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/backend?schema=user_service"
WALLET_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/backend?schema=wallet_service"

USER_SERVICE_URL="0.0.0.0:50051"
WALLET_SERVICE_URL="0.0.0.0:50052"

GATEWAY_PORT=3000

# Logging (nestjs-pino): e.g. info, debug, warn
LOG_LEVEL=info
